# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
*.log
migrations/
*/migrations/*
/settings.py
/local_settings.py
/secret_key.py

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Coverage
.coverage
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
.dmypy.json

